.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 130, 158);
}

.small {
  composes: box;
  width: 100px;
  height: 100px;
}

.medium {
  composes: box;
  width: 200px;
  height: 200px;
}

.large {
  composes: box;
  width: 300px;
  height: 300px;
}
