.statsBtn {
  cursor: pointer;

  margin-right: 10px;
  padding: 5px 10px;

  background-color: rgb(81, 115, 226);
  color: aliceblue;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;

  border: none;
  border-radius: 5px;
  outline: none;

  transition: background-color 100ms ease-in-out;
}

.statsBtn:active {
  background-color: rgb(72, 146, 76);
}
